/* Mobile */

@media screen and (max-width: 1920px) {

    .content {
        width: 55%;
        margin: auto;
        margin-top: 3rem;
    }

    .tc-article {
        margin-top: 3rem;
    }

    .tc-nav {
        width: 55%;
        margin: auto;
        grid-template-columns: 200px auto;
        display: grid;
        row-gap: 1rem;
        border: none;
        align-items: center;
    }

    .techer-featured-block-2 article img {
        width: 100%;
        max-height: 27rem;
    }

    .techer-row-block-2 article img {
        width: 100%;
        height: 9rem;
    }
}

@media screen and (max-width: 1600px) {
    .content {
        width: 68%;
        margin: auto;
        margin-top: 3rem;
    }

    /* Techer Copyright */
    #tc-copyright{
        width: 70%;
    }

    .tc-article {
/* 		width: 60%; */
        margin-top: 3rem;
    }

    .tc-nav {
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 1rem;
        border: none;
        align-items: center;
    }

    .techer-featured-block-2 article img {
        width: 100%;
        max-height: 27rem;
    }

    .techer-row-block-2 article img {
        width: 100%;
        height: 9rem;
    }
}

@media screen and (max-width: 1440px) {
    .content {
        width: 80%;
        margin: auto;
        margin-top: 3rem;
    }

    /* Techer Copyright */
    #tc-copyright{
        width: 80%;
    }

    .tc-article{
        margin-top: 3rem;
    }

    .tc-nav {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1.5rem auto auto;
        row-gap: 1rem;
        border: none;
        align-items: center;
    }

    .techer-featured-block-2 article img {
        width: 100%;
        max-height: 27rem;
    }

    .techer-row-block-2 article img {
        width: 100%;
        height: 9rem;
    }
}


@media screen and (max-width: 1366px) {
    .content {
        width: 70%;
        margin: auto;
        margin-top: 3rem;
    }

    /* Techer Copyright */
    #tc-copyright{
        width: 70%;
    }

    .tc-article{
        margin-top: 3rem;
    }

    .tc-nav {
        width: 70%;
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 1rem;
        border: none;
        align-items: center;
    }

    .techer-featured-block-2 article img {
        width: 100%;
        max-height: 27rem;
    }

    .techer-row-block-2 article img {
        width: 100%;
        height: 9rem;
    }
}

@media screen and (max-width: 1280px) {
    .content {
        width: 80%;
        margin: auto;
        margin-top: 3rem;
    }

    /* Techer Copyright */
    #tc-copyright{
        width: 80%;
    }

    .tc-article{
        margin-top: 3rem;
    }
	
	#techer-top-nav{
		width: 78%;
	}

    .tc-nav {
        margin: auto;
        display: grid;
        grid-template-columns: 1.5rem auto auto;
        row-gap: 1rem;
        border: none;
        align-items: center;
    }

    .techer-featured-block-2 article img {
        width: 100%;
        max-height: 27rem;
    }

    .techer-row-block-2 article img {
        width: 100%;
        height: 9rem;
    }
}

@media screen and (max-width: 1024px) {
    .content {
        width: 90%;
        margin: auto;
        margin-top: 3rem;
    }

    /* Techer Copyright */
    #tc-copyright{
        width: 90%;
    }

    .tc-article{
        margin-top: 3rem;
    }
	
	#techer-top-nav{
		width: 90%;
	}

    .tc-nav {
        margin: auto;
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 1rem;
        border: none;
        align-items: center;
    }

    .techer-featured-block-2 article img {
        width: 100%;
        max-height: 27rem;
    }

    .techer-row-block-2 article img {
        width: 100%;
        height: 9rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    /* Techer Copyright */
    #tc-copyright{
        width: 90%;
    }
	
	.content .tc-article{
		width: 75%;
	}
	
	.tc-column-block-row .tc-title {
		font-size: .7rem;
		line-height: 1rem;
	}
	
	.tc-column-block-row  #tc-column-block-thumbnail img{
		width: 4rem;
		height: 4rem;
	}
	
	.techer-list-block article p .tc-title{
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
	
	.tc-excerpt{
		font-size: .7rem;
		line-height: .8rem;
	}

    .tc-archive-grid img {
        max-height: 9rem;
    }

    .techer-row-block-2 article img {
        height: 7rem;
    }

    .techer-featured-block-2 article img {
        width: 100%;
        max-height: 15rem;
    }
}


/*Ipad Mini*/

@media screen and (min-width: 768px) and (max-width: 768px){
	.tc-column-block-row #tc-column-block-thumbnail img {
    	width: 8rem;
    	height: 8rem;
	}
	
	.techer-list-block article p .tc-title {
    	font-size: 1.5em;
    	line-height: 2.5rem;
	}
	
	.tc-column-block-row .tc-title {
		font-size: 2rem;
		line-height: 2.5rem;
	}
	
	.tc-headline{
		font-size: 3.2rem;
		line-height:3.5rem;
	}
	
	.content .tc-article{
		width: 100%;
	}
}

/* Surface Duo  */
@media screen and (max-width: 540px){
    .content {
        width: 95%;
        margin: auto;
        margin-top: 3rem;
    }

    /* Techer Copyright */
    #tc-copyright{
        width: 100%;
    }
	
	.content .tc-title{
		font-size: 1rem;
		line-height: 1.5rem;
	}
	
	.content .tc-article{
		width: 100%;
	}

    .tc-article{
		width: 95%;
        margin: auto;
		margin-top: 3rem;
    }

    #techer-site-navigation {
		width: 70%;
		padding: 1.5rem;
    }
	
	#the-navs li{
		min-width: 30%;
		padding-right: 3%;
	}
	
	#close-big-menu{
		padding-bottom: 1rem;
	}
	
	#techer-top-nav {
		width: 92%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
    }
	
	#techer-search-form{
		
	}
	
	
	#techer-search-input {
		width: 80%;
		margin: 10vh 10%;
	}
	
	#footer-nav{
		width: 90%;
	}

    .tc-nav {
        margin: auto;
        align-items: center;
		width: 92%;
    }

    .tc-nav #primary-nav-links {
        display: none;
    }

    .tc-excerpt {
       font-size: .8rem;
    }
	
	.tc-article article p{
		font-size: 1rem;
		line-height: 1.3rem;
	}

    .tc-article img {
        width: 100%;
        max-height: 20rem;
    }

    .tc-headline {
        font-size: 2rem;
		line-height: 2.3rem;
    }

    .tc-archive-grid {
        display: flex;
        width: 100%;
		margin: auto;
        gap: .5rem;
		flex-wrap: wrap;
    }

    /* Techer List Block */

    .techer-list-block article p .tc-title {
        font-size: 1.6em;
        line-height: 1.9rem;
    }


    /* Techer Row Block 1 */

    .techer-row-block-1 article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.25rem;
        row-gap: .5rem;
    }


    /* Techer Row Block 2 */

    .techer-row-block-2 article p{
		min-width: 48%;
		max-width: 48%;
    }

    .techer-row-block-2 article img {
        width: 100%;
        height: 10rem;
    }

    /* Techer Featured Block 2 */

    .techer-featured-block-2 article p{
		min-width: 100%;
		max-width: 100%;
		gap: .5rem;
	}
    

    .techer-featured-block-2 article img {
        width: 100%;
        max-height: 22rem;
    }

    .tc-social-share div{
        grid-template-columns: auto auto auto;
    }

}

/* iPhone 6/7/8 Plus  */
@media screen and (max-width: 414px){

    .tc-nav #primary-nav-links {
        display: none;
    }

    /* Techer List Block */


    /* Techer Row Block 1 */

    .techer-row-block-2 article img {
        width: 100%;
        height: 8rem;
    }

    /* Techer Featured Block 2 */


    

    .techer-featured-block-2 article img {
        width: 100%;
        max-height: 13rem;
    }

    .tc-social-share div{
        grid-template-columns: auto auto auto;
    }

}

/* iPhone 6/7/8  */
@media screen and (max-width: 375px){

    /* Techer Copyright */
    #tc-copyright{
        width: 95%;
    }

    .tc-nav #primary-nav-links {
        display: none;
    }

    /* Techer List Block */



    /* Techer Row Block 1 */

    .techer-row-block-2 article img {
        width: 100%;
        height: 8rem;
    }

    /* Techer Featured Block 2 */





    .techer-featured-block-2 article img {
        width: 100%;
        max-height: 13rem;
    }

    .tc-social-share div{
        grid-template-columns: auto auto auto;
    }


}

/* iPhone 5/SE  */
@media screen and (max-width: 320px){

    /* Techer Copyright */
    #tc-copyright{
        width: 95%;
    }
	
    .tc-nav #primary-nav-links {
        display: none;
    }

    /* Techer List Block */


    /* Techer Row Block 1 */


    /* Techer Featured Block 2 */

    .techer-featured-block-2 article img {
        width: 100%;
        max-height: 13rem;
    }

    .tc-social-share div{
        grid-template-columns: auto auto;
    }

}


@media screen and (max-width: 280px) {
    .techer-row-block-2 article img {
        width: 100%;
        height: 6rem;
    }

    /* Techer Copyright */
    #tc-copyright{
        width: 95%;
    }

    .techer-featured-block-2 article img {
        width: 100%;
        max-height: 13rem;
    }

    .tc-social-share div{
        grid-template-columns: auto auto;
    }
}


